@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.maybelline {
    font-size: 13vmin;
    font-family: 'Monoton', cursive;
}

.bio {
    font-size: 4vmin;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}