@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.maybelline {
    font-size: 13vmin;
    font-family: 'Monoton', cursive;
    color: rgb(8, 8, 56);
}

.bio {
    font-size: 4vmin;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}

body {
    margin: 0;
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    background-image: url(/public/images/AdobeStock_225355311.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2vmin;
    height: 100vh;
    /* position: fixed; */
  }