nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 1;
    text-shadow: 2px 2px 2px rgb(18, 17, 17);
    justify-content: space-around;
    column-gap: 150px;
}

a {
    color: rgb(244, 241, 241);
    text-decoration: none;
    background-color:rgba(169, 67, 67, 0.942);;
    padding: 10px;
    border-radius: 50px;
}

.welcome {
    color: rgb(244, 241, 241);
    background-color: rgba(169, 67, 67, 0.942);
    padding: 10px;
    border-radius: 50px;
    text-shadow: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(150, 74, 41, 0.158);
    color: rgb(1, 2, 12);
    text-align: center;
}