nav {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: rgba(230, 241, 241, 0.346); */
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 1;
}

a {
    color: rgb(244, 241, 241);
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(150, 74, 41, 0.158);
    color: rgb(1, 2, 12);
    text-align: center;
}