/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #c3bab2;
  --tan-3: #793f0d;
  --red: #812727;
  --text-light: #2e1a0c;
  --text-dark: #49280e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.section-heading-Order {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 99, 42);
  color: black;
  border: .1vmin solid var(--tan-3);
  border-radius: 5vmin;
  width: 300px;
  text-align: center;
  height: 100px;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
}

.line-item-container{
  border: .1vmin solid var(--tan-3);
  padding: 30px;
  margin: 30px;
  background-color: rgb(180, 116, 27);
  border-radius: 90px;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--text-dark);
  text-align: center;
  font-weight: 900;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--tan-3);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--red);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline-style: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 2vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--red);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
