.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-style: groove;
    border-color: brown;
    color: rgb(68, 16, 16);
    box-shadow: 0px 10px 20px 2px rgb(142, 123, 123);
    border-radius: 20px;
    background-color: rgba(180, 203, 229, 0.488);
}

.productName {
    color: rgb(117, 12, 22);
    font-weight: 500;
    padding: 5px;
}

.productPrice {
    font-style: italic;
}

.pD {
    font-size: small;
}